h1 {
    font-family: 'Bree Serif', serif;
    color: MIDNIGHTBLUE;
}

h5 {
    font-family: 'Bree Serif', serif;
    color: MIDNIGHTBLUE;
}

h6 {
    font-family: 'Bree Serif', serif;
    color: SIENNA;
}

p {
    font-family: 'Patrick Hand', cursive;
    color: SIENNA;
}
