body {
    background-color: black;
}

form {
    text-align: center;
}

p {
    color: red;
    font-family: cursive;
    font-size: x-large;
    text-decoration: underline;
}

textarea {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 75em;
}

.frogger {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 60em;
}

.flappybird {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 60em;
}

.maze {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 70em;
}

.pong {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 70em;
}

.rpsls {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 50em;
}

button {
    width: 5em;
    height: 2em;
    border-color: blue;
    background-color: darkgray;
    font-family: serif;
}

pre {
    width: 30em;
    background-color: lightgray;
    color: blue;
}
