body {
    background-color: black;
}

form {
    text-align: center;
}

p {
    color: red;
    font-family: cursive;
    font-size: x-large;
}

textarea {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 60em;
}

pre {
    background-color: lightgray;
    color: blue;
}
