<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Connect | Jesse Battalino</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Instagram</h1>-->
<!--    <p>-->
<!--      <a href="https://www.instagram.com/cityofwalls/">My Instagram</a>-->
<!--    </p>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Connect | Jesse Battalino</title>
        <%= stylesheet_link_tag    'connect_style', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    </head>
    <body>
        <h1>CityofWalls</h1>
        <!--<div class="container col-sm-12">
            <a href="https://www.instagram.com/p/BkA7bQzFMRt/?taken-by=cityofwalls">
                <img class='insta' src="https://scontent-sjc3-1.cdninstagram.com/vp/c467e0ea738ce10ba791a709cf13cec8/5BD0023B/t51.2885-15/e35/34683804_264846527416126_1510329269727789056_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9">
            </a>
            <a href="https://www.instagram.com/p/Bh8aQIild9i/?taken-by=cityofwalls">
                <img class='insta' src="https://scontent-sjc3-1.cdninstagram.com/vp/4cd99ace0f540be671a81e6402ef356e/5BD7B5C8/t51.2885-15/e35/30601833_179529596193653_1347981357069893632_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9">
            </a>
            <a href="https://www.instagram.com/p/BfoiyYfniJN/?taken-by=cityofwalls">
                <img class='insta' src="https://scontent-sjc3-1.cdninstagram.com/vp/0d8143eefaa99f513d1b691cbef80fb8/5BE70E41/t51.2885-15/e35/28153077_157401794960602_439812936102313984_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9">
            </a>
            <a href="https://www.instagram.com/p/BaXoS03nOwY/?taken-by=cityofwalls">
                <img class='insta' src="https://scontent-sjc3-1.cdninstagram.com/vp/858dcbc1226f8a0eb7b3aa2e80e804f1/5BDF8630/t51.2885-15/e35/22580121_133588493963688_4111970185605283840_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9">
            </a>
            <a href="https://www.instagram.com/p/BX1socxn7Pf/?taken-by=cityofwalls">
                <img class='insta' src="https://scontent-sjc3-1.cdninstagram.com/vp/e68cca50e9782c0031851ec8eb5a1867/5BE0176D/t51.2885-15/e35/20766700_167199677160016_6071671743095767040_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9">
            </a>
            <a href="https://www.instagram.com/p/BRMhuXLh2sK/?taken-by=cityofwalls">
                <img class='insta' src="https://scontent-sjc3-1.cdninstagram.com/vp/9b4fdd14e9df1a2608a2066937e1e285/5BEA1477/t51.2885-15/e35/17126334_165807777260965_1513187437319290880_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9">
            </a>
        </div>-->
        
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/c00b7e5ccf1e52389b8ab30cbc75b9ba.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        
    </body>
</html>