<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Connect | Jesse Battalino</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Instagram</h1>-->
<!--    <p>-->
<!--      <a href="https://www.instagram.com/cityofwalls/">My Instagram</a>-->
<!--    </p>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    
  <head>
    
    <meta charset="utf-8">
    
    <title>Connect | Jesse Battalino</title>
    
    <%= stylesheet_link_tag    'connect_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    
  </head>
  
  <body>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px; width: 100%; height: 100%;'>
      
      <h1>~~ CityofWalls ~~</h1>
      
      <h2>Find me on Instagram</h2>
      
      <div class='widget'>
        
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/c00b7e5ccf1e52389b8ab30cbc75b9ba.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        
      </div>
    </div>
    
  </body>
    
</html>