<!DOCTYPE html>
<html>
  <head>
    
    <title>Home | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE; display:flex; justify-content:left'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
      
      <h1>Jesse Battalino</h1>
      
      <p>
        This is the home page for someone.
      </p>
    </div>
    
  </body>
  
</html>