<!DOCTYPE html>
<html>
  <head>
    
    <%= javascript_include_tag 'home.js' %>
    <%= stylesheet_link_tag 'home.css' %>
    
    <title>Home | Jesse Battalino</title>
    
  </head>
  
  <body>
    <h1>Jesse Battalino</h1>
    <p>
      This is the home page for someone.
    </p>
  </body>
</html>