<!DOCTYPE html>
<html>
  <head>
    <title>Java Projects | Jesse Battalino</title>
  </head>
  <body>
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
      <h1>Java Stuff</h1>
      <p>
        will go here.
      </p>
    </div>
  </body>
</html>