<!DOCTYPE html>
<html>
  <head>
    
    <title>Machine Learning Projects | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
      <h1>Machine Learning Projects</h1>
      <h6>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description </h6>
      <hr />
      
      <!-- Projects -->
      <div class='row'>
        <div class='container col-sm-6'>
          <%= image_tag('Flappy_Demo.gif', width: '40%', height: '80%') %>
          <br>
          <%= link_to 'Genetic Algorithm Flappy Bird', flappy_path %>
          <br>
          <p>Brief Flappy Bird Description</p>
        </div>
        <div class='container col-sm-6'>
          <%= image_tag('SpaceShip.gif', width: '40%', height: '80%') %>
          <br>
          <%= link_to 'Pong! (Coming Soon)', ml_path %>
          <br>
          <p>Brief Pong! Description</p>
        </div>
      </div>
      <hr />
    
  </body>
  
</html>