<!DOCTYPE html>
<html>
  <head>
      
    <meta charset="UTF-8">
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
    <script language="javascript" type="text/javascript" src="nn.js"></script>
    <script language="javascript" type="text/javascript" src="matrix.js"></script>
    <script language="javascript" type="text/javascript" src="ga.js"></script>
    <script language="javascript" type="text/javascript" src="sketch.js"></script>
    <script language="javascript" type="text/javascript" src="bird.js"></script>
    <script language="javascript" type="text/javascript" src="pipe.js"></script>
    
    <title>Machine Learning Projects | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE; display:flex; justify-content:center'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin-left:20px; margin-right:20px; margin-top:1px; margin-bottom:2px'>
      
    <h1 style='color:DARKSLATEGRAY'>Reinforcement Learning in Flappy Bird Using A Genetic Algorithm</h1>
    <hr />
     
      <p class='lead' style='color:SIENNA'>
        <strong>A generation of birds (agents) exist in the Flappy Bird world, and are given a Neural Network to train and pass on to future generations. The agents have two choices to make at any given time: "flap" their wings (resulting in an increase in height), or do nothing (allowing gravity to take them to the "ground"). Running into a "pipe" that enters from the right side of the screen removes a bird from the world, but records it's lifespan, while having a chance at passing its knowledge on to the next generation by probability tied to a fitness rating (a relation to the rest of the current generation). There is a 10% chance a NN can be mutated when added to the next generation.</strong>
      </p>
      <hr />
      
      <button type='button' onclick='location.reload()'>Refresh</button>
      
    </div>
    
  </body>
  
</html>