<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Music | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
      
      <h1>~~~</h1>
      
      <p>
        Sounds go here.
      </p>
      
    </div>
    
  </body>
  
</html>