<!DOCTYPE html>
<html>
  <head>
      
    <meta charset="UTF-8">
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
    
    <!-- ?v=1 forces refresh of js files on load. From: https://stackoverflow.com/questions/3951187/javascript-file-not-updating-no-matter-what-i-do -->
    <script type="text/javascript" src="/javascripts/lib/nn.js?v=1"></script>
    <script type="text/javascript" src="/javascripts/lib/matrix.js?v=1"></script>
    
    <script type="text/javascript" src="/javascripts/lib/sketch_pong.js?v=2"></script>
    <script type="text/javascript" src="/javascripts/lib/paddle.js"></script>
    <script type="text/javascript" src="/javascripts/lib/ball.js?v=1"></script>
    <script type="text/javascript" src="/javascripts/lib/ga_pong.js"></script>
    
    <title>Genetic Algorithm Project: Pong! | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
      
    <h1 style='color:DARKSLATEGRAY'>Training a Neural Network to play Pong using Reinforcement Learning and a Genetic Algorithm</h1>
    <hr />
     
      <p class='lead' style='color:SIENNA'>
        <strong>Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info Pong info </strong>
      </p>
      <hr />
      
      <button type='button' onclick='location.reload()'>Refresh</button>
      
    </div>
    
  </body>
  
</html>