<!DOCTYPE html>
<html>
  
  <head>
    
    <meta charset="utf-8">
    
    <%= stylesheet_link_tag 'resume_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <title>Resume | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px; width: 100%; height: 100%; background-color:SNOW'>
    
      <h1 style='margin-bottom:15px'>Jesse Battalino</h1>
      
      <!-- Contact Info -->
      <div class='row'>
        <div class='container col-sm-6'>
          <h6>
            <u>Current Residence</u>:
          </h6>
          <p>
            San Francisco, CA, 94110
            <br>
            <%= link_to 'Contact', connect_path %>
          </p>
        </div>
        <div class='container col-sm-6'>
          <h6>
            <u>School Address</u>:
          </h6>
          <p>
            5000 MacArthur Blvd
            <br>
            Oakland, CA, 94613
            <br>
            510-430-2255
          </p>
          <p></p>
          <p></p>
        </div>
      </div>
      <hr />
      
      <!-- Objective -->
      <div class='row'>
        <div class='container col-sm-2'>
          <h6><strong>Objective:</strong></h6>
        </div>
        <div class='container col-sm-9' style='text-align:left'><p>With a background in music performance and composition, I have spent the past four years studying computer science with the intention of problem solving through artistic vision. While I am working towards a master’s thesis that will introduce ethical choice into existing machine learning algorithms, I am actively pursuing an internship in the field of computer science with a focus on software engineering and development.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <hr />
      
      <!-- Education -->
      <div class='row'>
        <div class='container col-sm-2'>
          <h6><strong>Education:</strong></h6>
        </div>
        <!-- Mills -->
        <div class='container col-sm-7' style='text-align:left'>
          <p><strong>Master of Arts: Interdisciplinary Computer Science</strong>
          </br>
          Mills College, Oakland, CA
          </br>
          2017-2019 (In Progress)</p>
        </div>
        <div class='container col-sm-3' style='text-align:left'>
          <p><strong>GPA: 4.0/4.0</strong></p>
        </div>
      </div>
      <div class='row'>
        <div class='container col-sm-2'>
          <h6></h6>
        </div>
        <!-- CCSF -->
        <div class='container col-sm-7' style='text-align:left'>
          <p><strong>Computer Science Major</strong>
          </br>
          City College of San Francisco, San Francisco, CA
          </br>
          2014-2017</p>
        </div>
        <div class='container col-sm-3' style='text-align:left'>
          <p><strong>GPA: 3.64/4.0</strong></p>
        </div>
      </div>
      <div class='row'>
        <div class='container col-sm-2'>
          <h6></h6>
        </div>
        <!-- SF State -->
        <div class='container col-sm-7' style='text-align:left'>
          <p><strong>Bachelor of Music: Music Composition and Theory</strong>
          </br>
          San Francisco State University, San Francisco, CA
          </br>
          2010-2013</p>
        </div>
        <div class='container col-sm-3' style='text-align:left'>
          <p><strong>GPA: 3.78/4.0</strong></p>
        </div>
      </div>
      <hr />
      
      <!-- Summary -->
      <div class='row'>
        <div class='container col-sm-1'></div>
        <div class='container col-sm-2' style='text-align:left'>
          <h6><strong>Summary:</strong></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Languages -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Coursework and projects in Java, Python, Assembly (MIPS), Ruby (and Ruby on Rails), Swift, Rust, Lisp (Scheme), Haskell, Git (with Github and Bitbucket), command line interfaces (Unix and Windows), Go, HTML and CSS, and OpenGL.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Classwork -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Projects in sorting algorithms, graph theory, 2D and 3D graphical representation, full stack web and mobile application development, data parsing, multi-threading, Object Oriented Programming, Functional Programming, Church Numerals/Lambda Calculus and other Turing Complete programming paradigms, Divide and Conquer/Dynamic Programming/Greedy Choice/NP-Complete algorithm implementation and analysis.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      
      <!-- Projects -->
      <div class='row'>
        <div class='container col-sm-1'></div>
        <div class='container col-sm-2'>
          <h6 style='text-align:left'><strong>Projects:</strong></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- RoR Group -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Worked with a group to implement story sharing social network in Ruby on Rails. Constructed models, controllers, and routes for user login and profile pages.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Swift -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Built role-playing-game companion app for iOS, using JSON data, user defaults, and the persistent store (storage). Parsed JSON into hash table and displayed the data based on user input of text fields and custom picker selection.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Python -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Built complete interactive games of Pong, Frogger, Flappy Bird, and Level 1-1 of Super Mario Bros. in Python, complete with collision detection and power-ups.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Unix -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Used the Unix Shell (bash) to read and parse data from documents through piping and regular expressions (grep command).</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <hr />
      
      <!-- Work Experience -->
      <div class='row'>
        <div class='container col-sm-3'>
          <h6><strong>Work Experience:</strong></h6>
        </div>
        <div class='container col-sm-8' style='text-align:left'>
          <!-- GTA Mills -->
          <p><strong>Graduate Teaching Assistant, Mills College (2017-Present)</strong>
          <br>
          Grading and homework tutor office hours for classes in iOS Development, Software Engineering, and Thesis Research.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-8' style='text-align:left'>
          <p><strong>Senior Applecare Advisor, Apple Inc. (2015)</strong>
          <br>
          Advanced troubleshooting and technical resolution for consumer issues pertaining to iOS and iCloud/Apple ID systems.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <hr />
      
      <!-- Professional Training -->
      <div class='row'>
        <div class='container col-sm-3'>
          <h6><strong>Professional Training:</strong></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Algorithmic Toolbox -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Coursera.org: ‘Algorithmic Toolbox’ course offered by the National Research University Higher School of Economics at University of California, San Diego.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Interactive Python -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Coursera.org: ‘An Introduction to Interactive Programming in Python’ course offered by Rice University.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='container col-sm-3'>
          <h6></h6>
        </div>
        <div class='container col-sm-1'>
          <!-- Codecademy -->
          <h6><strong>-</strong></h6>
        </div>
        <div class='container col-sm-7' style='text-align:left'>
          <p>Codecademy.com: courses in Java, Python, HTML/CSS, Git, Ruby, Command Line.</p>
        </div>
        <div class='container col-sm-1'></div>
      </div>
      
    </div> <!-- End JumboTron -->
    
  </body>
  
</html>