body {
    background-color: STEELBLUE;
}

h1 {
    margin-top: 5px;
    font-size: 3em;
    text-align: center;
    font-family: 'Galada', cursive;
    color: MIDNIGHTBLUE;
}

h2 {
    font-family: 'Galada', cursive;
    color: MIDNIGHTBLUE;
}

.widget {
    margin: 10px 20px 10px 20px;
}

.insta {
    display: block;
    max-width: 500px;
    max-height: 450px;
    width: auto;
    height: auto;
    margin: 10px;
}
