body {
    background-color: black;
}

h1 {
    font-weight: bold;
    font-family: monospace;
    color: darkblue;
    text-decoration: underline;
}

p {
    color: red;
    font-family: cursive;
    font-size: x-large;
    text-decoration: underline;
}

textarea {
    border-bottom-style: double;
    font-family: monospace;
    color: limegreen;
    background-color: black;
    height: 30em;
    width: 70em;
}

.frogger {
    width: 60em;
}

.flappybird {
    width: 60em;
}

.maze {
    width: 70em;
}

.pong {
    width: 70em;
}

.blackjack {
    width: 70em;
}

.rpsls {
    width: 50em;
}

.lcs {
    width: 50em;
}

text {
    width: 50em;
}

button {
    width: 5em;
    height: 2em;
    border-color: blue;
    background-color: darkgray;
    font-family: serif;
}

hr {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

pre {
    width: 30em;
    background-color: lightgray;
    color: blue;
}