body {
    background-color: black;
}

h1 {
    font-weight: bold;
    font-family: monospace;
    color: STEELBLUE;
    font-size: 35pt;
}

h6 {
    color: FIREBRICK;
    font-family: cursive;
    font-size: 27pt;
}

p {
    margin: 2em;
    font-size: 11pt;
    color: DIMGRAY;
}

text {
    width: 50em;
    font-size: 11pt;
    margin-bottom: 10em;
}

textarea {
    border-bottom-style: double;
    font-family: monospace;
    color: CHARTREUSE;
    background-color: BLACK;
    height: 30em;
    width: 70em;
}

.frogger {
    width: 60em;
}

.flappybird {
    width: 60em;
}

.maze {
    width: 70em;
}

.pong {
    width: 70em;
}

.blackjack {
    width: 70em;
}

.rpsls {
    width: 50em;
}

.lcs {
    width: 50em;
}

button {
    width: 5em;
    height: 2em;
    border-color: blue;
    background-color: darkgray;
    font-family: serif;
}

hr {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

pre {
    border-color: CHARTREUSE;
    margin-left: 28%;
    margin-right: 25%;
    width: 30em;
    background-color: BLACK;
    color: DARKTURQUOISE;
}